* {
	font-family: 'Raleway', sans-serif;
	margin: 0;
	padding: 0;
}

#logo-heladeria {
	width: 100px;
	height: 90px;
	margin: 10px 0 0 8%;
	padding: 12px;
	cursor: pointer;
}

#rds {
	width: 140px;
	height: 60px;
	margin: 2% 6%;
	display: inline-block;
	position: absolute;
	right: 0;
}

#rds img {
	width: 40px;
	height: px;
	cursor: pointer;
}

#menu {
	background-color: #f5769f;
	border-radius: 8px;
	width: 85%;
	height: 42px;
	margin: 0 8% 0 8%;
	position: fixed;
	display: flex;
	align-items: center;
	z-index: 100;
}

#menu ul li {
	position: relative;
	display: inline-block;
	padding: 11px 25px 11px 25px;
	cursor: pointer;
}

#menu ul a {
	color: #fff;
	display: block;
	text-decoration: none;
}

.in {
	background-color: #8e5c51;
	border-top-left-radius: 8px;
	border-bottom-left-radius: 8px;
}

.in:hover {
	background-color: #67443C;
}

#menu ul .list:hover {
	background-color: #f06292;
}

#menu ul #desple {
	background-color: #f5769f;
	width: 120px;
	margin: 10px 50px 0 -28px;
	font-size: 14px;
	display: none;
	position: absolute;
	text-align: center;
}

#menu ul #desple li:hover {
	background-color: #f06292;
	padding: 12px 1vh 12px 1vh;
}

#menu ul #desple li {
	float: none;
	position: relative;
	cursor: pointer;
}

#menu ul li:hover > #desple {
	display: block;
}

#banner {
	width: 100%;
	margin-top: 20px;
}

footer {
	background-color: #273238;
	color: #fff;
	width: 100%;
	text-align: center;
	position: absolute;
	top: 0;
	z-index: 50;
}